@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css);

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,body{
	width: 100%;
	height: 100%;
}

body{
	font-family: Arial, sans-serif;
         height:100%;
  margin:0;
}

.container{
	display:flex;
  width:100%;
  height:100%;
  
}

.rating-wrap{
	max-width: 480px;
	margin: auto;
	padding: 15px;
	box-shadow: 0 0 3px 0 rgba(0,0,0,.2);
	text-align: center;
        border-radius: 25px;
       
}

.center{
	width: 162px; 
	margin: auto;
}


#rating-value{	
	width: 110px;
	margin: 40px auto 0;
	padding: 10px 5px;
	text-align: center;
	box-shadow: inset 0 0 2px 1px rgba(46,204,113,.2);
}

/*styling star rating*/
.rating{
	border: none;
	float: left;
}

.rating > input{
	display: none;
}

.rating > label:before{
	content: '\f005';
	font-family: FontAwesome;
	margin: 5px;
	font-size: 1.5rem;
	display: inline-block;
	cursor: pointer;
}

.rating > .half:before{
	content: '\f089';
	position: absolute;
	cursor: pointer;
}


.rating > label{
	color: #ddd;
	float: right;
	cursor: pointer;
}

.rating > input:checked ~ label,
.rating:not(:checked) > label:hover, 
.rating:not(:checked) > label:hover ~ label{
	color: #2ce679;
}

.rating > input:checked + label:hover,
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label,
.rating > input:checked ~ label:hover ~ label{
	color: #2ddc76;
}








.container .side-bar.minimised{
  min-width:50px;
  background: burlywood;
  
  border-color: black;
}
.container .side-bar{
  min-width:300px;
  transition:0.3s;
  border-right:1px solid #eee;
}
.container .main-content{
  width:100%;
  overflow-y:auto;
  padding-top:25px;
  background: beige;
}

.nav-list{
  width:100%;
  height:40px;
  line-height:40px;
  display:block;
  overflow:hidden;
  color:inherit;
  text-decoration:none;
}
.nav-list:hover{
  background:#ccc;
  color:#000;
}
.nav-list.active{
  background:#333;
  color:#eee;
}
.nav-icon,.nav-title{
  display:inline-block;
  text-align:center;
}
.nav-icon{
  width:50px;
}
.side-bar.minimised .opened,.side-bar .closed{
  display:none;
}
.side-bar.minimised .closed,.side-bar .opened{
  display:block;
}
.nav-title{
  transition:0.3s;
}
.side-bar.minimised .nav-title{
  max-width:0;
  color:black;
}

.main-content .tabs{
  width:100%;
  float:left;
}
.tabs .tab,.tabs .tab-header{
  line-height:40px;
  float:left;
  padding:0 30px;
  color:#aaa;
  text-decoration:none;
  transition:0.3s;
}
.tabs .tab-header{
  font-size:25px;
  color:inherit;
  padding:0 50px;
}
.tabs .tab.active,.tabs .tab:hover{
  color:inherit;
  font-weight:bold;
}
.dashboard{
  font-size: 20px;
  padding-left:50px;
  
}
.tab-body{
  width:100%;
  float:left;
}
.tab-item{
  width:25%;
  float:left;
  height:300px;
  background:#fff;
  color:#000;
  margin:4%;
  outline:3px solid transparent;
  border:2px solid transparent;
  box-shadow:0 0 25px rgba(0,0,0,0.1);
  transition:0.3s;
  text-decoration:none;
  color:inherit;
  position:relative;
  overflow:hidden;
  word-wrap:break-word;
}
.tab-item:hover{
  outline:3px solid #eee;
  border:2px solid #333;
}
.tab-item .tab-title{
  width:100%;
  height:60%;
  font-size:18px;
  padding:50px;
  transition:0.1s;
  text-align:center;
}
.tab-item:hover .tab-title{
  font-size:25px;
}
.tab-item .tab-details{
  width:100%;
  height:40px;
  padding:20px;
  font-size:14px;
  transition:0.3s;
}


.tab-item.ongoing{
  background:rgb(56,200,56);
  color:#fff;
  box-shadow:0 0 25px rgba(56,250,56,0.9);
}
.tab-item.ongoing:hover{
  background:rgb(36,210,36);
  outline:3px solid rgb(56,210,56);
  border:2px solid #fff;
}

.tab-item.ong{
  background:rgb(0,255,255);
  color:#000;
  box-shadow:0 0 25px rgba(0,255,255,0.9);
}
.tab-item.mock:hover{
  background:rgb(240,240,66);
  outline:3px solid rgb(230,230,46);
  border:2px solid #fff;
}

.tab-item.mock{
  background:rgb(230,230,46);
  color:#000;
  box-shadow:0 0 25px rgba(230,230,46,0.9);
}
.tab-item.mock:hover{
  background:rgb(240,240,66);
  outline:3px solid rgb(230,230,46);
  border:2px solid #fff;
}

.tab-item.ongg{
  background:rgb(255,174,25);
  color:#000;
  box-shadow:0 0 25px rgba(255,174,25,0.9);
}
.tab-item.mock:hover{
  background:rgb(240,240,66);
  outline:3px solid rgb(230,230,46);
  border:2px solid #fff;
}
.tab-info{
  width:100%;
  height:100%;
  padding:15px;
  position:absolute;
  display:none;
  transition:0.1s;
}
.tab-item:hover .tab-info,.tab-info.active{
  display:block;
}
.tab-info.active{
  background:inherit;
}
.tab-info .display-info{
  background:transparent;
  border:0;
  font-size:20px;
  color:inherit;
  outline:0;
}
.tab-info .info{
  display:none;
  padding:10px;
  font-size:13px;
}
.tab-info.active .info{
  display:block;
}
.info .info-item{
  width:100%;
  padding:5px 0;
}
@media screen and (max-width:1080px){
  .tab-item{
    width:40%;
    margin:5%;
  }
}
@media screen and (max-width:760px){
  .tab-item{
    width:80%;
    margin:10%;
  }
}

hr{
  border: 2px solid brown;
  border-radius: 2px;
}